{% assign symbols = "†,‡,§,¶,‖,**,††,‡‡,§§,¶¶,‖‖,***" | split: "," %}
{% assign unique_affiliations = "" | split: "" %}
{% assign global_affiliation_symbols = "" | split: "," %}

{% for author in page.authors %}
  {% assign collaborator = site.data.collaborators.collaborators | where: "name", author.name | first %}
  {% if collaborator and collaborator.affiliation %}
    {% assign affiliation = site.data.collaborators.affiliations[collaborator.affiliation] %}
    {% unless unique_affiliations contains affiliation %}
      {% assign unique_affiliations = unique_affiliations | push: affiliation %}
      {% assign symbol_index = unique_affiliations.size | minus: 1 %}
      {% if symbol_index < symbols.size %}
        {% assign symbol = symbols[symbol_index] %}
        {% capture new_entry %}{{ affiliation }}:{{ symbol }}{% endcapture %}
        {% assign global_affiliation_symbols = global_affiliation_symbols | push: new_entry %}
      {% endif %}
    {% endunless %}
  {% endif %}
{% endfor %}

<div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <ul class="list-inline">
            {% for author in page.authors %}
                {% assign collaborator = site.data.collaborators.collaborators | where: "name", author.name | first %}
                <li>
                    {% if collaborator and collaborator.url %}
                        <a href="{{ collaborator.url }}">{{ author.name }}</a>
                    {% else %}
                        {{ author.name }}
                    {% endif %}
                    {% if collaborator and collaborator.affiliation %}
                        {% assign affiliation = site.data.collaborators.affiliations[collaborator.affiliation] %}
                        {% assign symbol = "" %}
                        {% for entry in global_affiliation_symbols %}
                            {% assign entry_parts = entry | split: ":" %}
                            {% if entry_parts[0] == affiliation %}
                                {% assign symbol = entry_parts[1] %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% if symbol != "" %}
                            <span style="vertical-align: super; font-size: smaller;">{{ symbol }}</span>
                        {% endif %}
                    {% endif %}
                    {% if author.equal_contribution %}<span style="vertical-align: super; font-size: smaller;">*</span>{% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-12 text-center">
        {% for affiliation in unique_affiliations %}
            {% assign symbol = "" %}
            {% for entry in global_affiliation_symbols %}
                {% assign entry_parts = entry | split: ":" %}
                {% if entry_parts[0] == affiliation %}
                    {% assign symbol = entry_parts[1] %}
                    {% break %}
                {% endif %}
            {% endfor %}
            {% if symbol != "" %}
                <span style="vertical-align: super; font-size: smaller;">{{ symbol }}</span>
            {% endif %}
            {{ affiliation }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </div>
</div>
