@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  background-color: #fff;
  padding:0px;
  font: 15.0px/1.5 Carlito, sans-serif; 
  /* font: 15.0px/1.5 Crimson Pro, serif;  */
  color:#595959;
  font-weight:400;
  margin:0
}
