@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #fff;
    padding:50px;
    font: 14px/1.5 "Carlito", serif;
    color:#595959;
    font-weight:400;
  }